<!DOCTYPE html>
<html>
  <head>
    <div class ="col-12">
        <!-- Button trigger modal -->
      <%= link_to 'Add New Map Here', new_map_path %>
    </div>
  </head>
  <body>
  </body>
    <%= yield %>
  </body>
</html>
